body{
  background-color: powderblue;
	

}
.container{
	background-color: lightblue;
	height: 1200px;
  margin: 25%;
	width: 50%;
  border: none;
	margin-top: 50px;
	
  
}
.top-profile{
	background-color:white;
	height: 100px ;


}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.column {
  float: left;
  width: 33%;
  padding: none;
	height: 100px;
	
  
}
.top-profile:after {
  content: "";
  display: table;
  clear: both;
}
img{
	height: 90px;
	width: 90px;
	border-radius: 50%;
	margin:3px;
	position: left;
}
.positiom{
	position: left;
	size: 
}